@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using UnitService.Data

@inject UnitService unitService



<h1>Units</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (units == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (units.Length == 1)
    {
        <br />
        <p><em>Name: @units[0].Name</em></p>
        <p><em>DateBirthDay: @units[0].DateBirthDay.ToShortDateString()</em></p>
        <p><em>Age: @units[0].Age</em></p>
        <img src="/watch.jpg" asp-append-version="true" width="300px" />
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DateBirthDay</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var unt in units)
                {
                    <tr>
                        <td>@unt.Name</td>
                        <td>@unt.DateBirthDay.ToShortDateString()</td>
                        <td>@unt.Age</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    private Unit[]? units;

    protected override async Task OnInitializedAsync()
    {
        units = await unitService.GetUnitAsync();
    }
}
